.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-button-enter {
  opacity: 0;
}
.fade-button-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-button-exit {
  opacity: 1;
}
.fade-button-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
